.introArea{
    text-align: center;
    margin-top: 60px;
}
.introTitle{
    font-size: 100px;
}

#msg1{
    margin-bottom: 5px;
}
#motivator{
    margin-top: 2px;
    color: gray;
}

/*운동 루틴 표시하는 부분*/
.routineArea{
    text-align: center;
}
#bgRect{
    position: fixed;
    top: 40%; left: 29%;
    width: 600px;
    height: 300px;
    opacity: 0.54;
    background-color: #1abc9c;
    border-radius: 30px;
    z-index: -1;
}

#btnArea{
    text-align: center;
    margin-top: 40px;
}
#btn1, #btn2, #btn3{
    width: 400px;
    height: 55px;
    background-color: #16a085;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#btn1:hover, #btn2:hover, #btn3:hover{
    background-color: #6cac9f;
}

/*모달창*/
.modal{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}
.md_overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%; height: 100%;
    position: absolute;
}
.md_content {
    width: 400px;
    height: 300px;
    position: relative;
    padding: 20px 50px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0, 0, 0, 0.20);
}

.hidden {
    display: none;
}
.modal_text { padding: 16px; }

#closeBtn{
    width: 180px;
    height: 30px;
    background-color: #16a085;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 180px;
}