<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.routine.mapper.UserMapper">
	<resultMap id="memberMap" type="com.routine.domain.UserVO">
		<id column="member_num" property="member_num"></id>
		<result column="id" property="id"></result>
		<result column="password" property="password"></result>
		<result column="userName" property="userName"></result>
		<result column="joinDateTime" property="joinDateTime"></result>
		<collection property="authList" resultMap = "authMap"></collection>
	</resultMap>
	
	<resultMap id="authMap" type="com.routine.domain.AuthVO">
		<result column="member_id" property="member_id"></result>
		<result column="auth" property="auth"></result>
	</resultMap>
	
	
	<insert id = "insert" parameterType="com.routine.domain.UserVO">
		INSERT INTO memberinfo (id, password,userName, joinDateTime) 
		VALUES ( #{id}, #{password}, #{userName}, #{joinDateTime})	
	</insert>
	
	<insert id="insertAuth" parameterType="com.routine.domain.AuthVO">
		INSERT INTO memberauth (member_id, auth)
		VALUES ( #{member_id}, "ROLE_MEMBER")
	</insert>
	
	<select id="readbyId" resultType="int">
		select count(*) from memberinfo
		where id=#{id}
	</select>
</mapper>